.cover {
    position: relative;
    width: 100%; 
    height: 500px; 
    overflow: hidden;
}

.cover img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color y opacidad del overlay */
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente del texto */
    text-align: center;
    z-index: 1;
}

.logo{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text p {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

/*PRODUCTOS*/

.productos {
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    color: #644324;
}

.container-product /*CONTENEDOR PADRE DEL PRODUCTO!!!*/ 
{
    display: flex;
    margin: auto;
    width: 350px;
    gap: 40px;
    background-color: aqua;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.container-product
{
    width: 30%;
    height: 250px;
}

.product
{
    border-radius: 10px; 
    width: 100%;
    height: 450px;
}

.product:hover
{
    box-shadow: 0 5px 15px #18181894;
}

.product img 
{
    width: 100%; /*100%*/
    height: 250px;
    border-radius: 5px 5px 0 0;
    object-fit: cover; /*Adapta la escala de las imagenes sin perder detalles*/ 
}

.product:hover img
{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/*Informacion Producto*/

.info-product 
{
    padding: 15px 30px;
    line-height: 2; /*Interlineado*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-product p 
{
  font-weight: bold;  
  font-size: 19px;
}

.info-product a
{
    height: 30px;     
    background-color: #362a1f;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.info-product a:hover
{
    box-shadow: 0 5px 15px #18181894;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.info-product a:active
{
    transform: scale(0.5);
    transition: transform 0.3s ease;
}
.parrafos {
    display: block;
    margin: auto;
    width: 90%;
}
.parrafos p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}
h3{
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    align-items: center;
}
.promocionVid {
    display: flex;
    margin: auto;
    height: 600px;
}